* {
    background: #F6F4F3;
    font-family: 'Roboto Mono', monospace;
}
header {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}
h1 {
    font-size: 54px;
}
li {
    text-align: left;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50%;
}
/* Button Styles */
.buttons-container {
    display: flex;
    flex-direction: column;
}
button {
    border-radius: 30px;
    background: #16425B;
    color: #ffffff;
    padding-top: 16px;;
    padding-bottom: 16px;
    margin: 8px;
    font-size: 16px;
    border: 0px;
}
button:hover {
    background: #2F6690;
}
.leaderboard-button {
    margin-top: 24px;
}

/* Quiz Styles */
#home-button {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #ded7d4;
    color: #16425B;
    padding: 16px;
}
#home-button:hover {
    background-color: #c7c1bf;
}

/* High Score Form Styles */
input {
    padding: 16px;
    margin-left: 16px;
    margin-right: 16px;
    border: 1px solid #c7c1bf;
    border-radius: 5px;
}

/* Tablets and Smaller */
@media screen and (max-width: 780px) {
    header {
        margin-top: 30px;
    }
    h1 {
        font-size: 8vw;
    }
    h2 {
        font-size: 4vw;
    }
    h3, button, main, input {
        font-size: 3vw;
    }
    section {
        width: 75%;
    }
    input {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    button {
        width: 100%;
        margin-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }
    #home-button {
        width: 100%;
        left: auto;
        position: relative;
    }
}
/* Mobile Phones and Smaller */
@media screen and (max-width: 575px) {
    header {
        margin-top: 0px;
    }
    h1 {
        font-size: 10vw;
        padding-left: 20px;
        padding-right: 20px;
    }
    h2 {
        font-size: 7vw;
    }
    h3, button, main, input {
        font-size: 5vw;
    }
    button {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    section {
        width: 90%;
    }
}